<div class="card text-center card-product">
    <div class="card-product__img">
        <img class="card-img" src="{{imagepath}}" alt="">
        <ul class="card-product__imgOverlay">
            <li><button onclick= "location.href= '/products/{{id}}' "><i class="ti-search"></i></button></li>
            <li><button class="add-to-cart" data-id="{{id}}"><i class="ti-shopping-cart"></i></button></li>
            <li><button><i class="ti-heart"></i></button></li>
        </ul>
    </div>
    <div class="card-body">
        <p>{{Category.name}} - {{Brand.name}}</p>
        <h4 class="card-product__title"><a href="/products/{{id}}">{{name}}</a></h4>
        <p class="card-product__price">{{price}} VNĐ</p>
    </div>
</div>