
{{!-- {{> banner}} --}}

  <!--================Cart Area =================-->
 {{#with cart}}
  <section class="cart_area">
      <div class="container">
          <div class="cart_inner" id="cart-body">
              {{#if items.length}}
              <div class="table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <th scope="col">Product</th>
                              <th scope="col">Price</th>
                              <th scope="col">Quantity</th>
                              <th scope="col">Total</th>
                          </tr>
                      </thead>
                      <tbody>
                          {{#each items}}
                          <tr id="item{{item.id}}">
                              <td>
                                  <div class="media">
                                      <div class="d-flex">
                                          <img src="{{item.thumbnailpath}}" alt="" height="85" width="55">
                                      </div>
                                      <div class="media-body">
                                          <p>{{item.name}}</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                  <h5>VNĐ {{item.price}}</h5>
                              </td>
                              <td>
                                  <div class="product_count">
                                      <input type="text" name="qty" id="sst{{item.id}}" maxlength="12" value="{{quantity}}" title="Quantity:"
                                          class="input-text qty" readonly>
                                      <button onclick="var result = document.getElementById('sst{{item.id}}'); var sst = result.value; if( !isNaN( sst )) result.value++; updateCart({{item.id}}, result.value); return false;"
                                          class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                      <button onclick="var result = document.getElementById('sst{{item.id}}'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 1 || (sst == 1) && confirm('Do you want to remove this item?') ) result.value--; updateCart({{item.id}}, result.value); return false;"
                                          class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                                  </div>
                              </td>
                              <td>
                                  <h5 id="price{{item.id}}">{{price}}</h5>
                              </td>
                          </tr>
                          {{/each}}
                          <tr class="bottom_button">
                              <td>
                                  <a class="button bg-danger text-white" href="#" onclick="clearCart()">Clear Cart</a>
                              </td>
                              <td>

                              </td>
                              <td>

                              </td>
                              <td>
                                  {{!-- <div class="cupon_text d-flex align-items-center">
                                      <input type="text" placeholder="Coupon Code">
                                      <a class="primary-btn" href="#">Apply</a>
                                      <a class="button" href="#">Have a Coupon?</a>
                                  </div> --}}
                              </td>
                          </tr>
                          <tr>
                              <td>

                              </td>
                              <td>

                              </td>
                              <td>
                                  <h5>Subtotal</h5>
                              </td>
                              <td>
                                  <h5 id="totalPrice"> {{totalPrice}}</h5>
                              </td>
                          </tr>
                          <tr class="shipping_area">
                              <td class="d-none d-md-block">

                              </td>
                              <td>

                              </td>
                              <td>
                                  <h5>Shipping</h5>
                              </td>
                              <td>
                                  <div class="shipping_box">
                                      <ul class="list">
                                          
                                          {{!-- <li><a >Local Delivery: 100 000 VNĐ</a></li> --}}
                                          <li class="active"><a>Free Shipping</a></li>
                                      </ul>
                                      {{!-- <h6>Calculate Shipping <i class="fa fa-caret-down" aria-hidden="true"></i></h6> --}}
                                      <input type="text" placeholder="Name">
                                      <input type="email" placeholder="Email">
                                      <select class="shipping_select">
                                          <option value="1">Ho Chi Minh City</option>
                                          <option value="2">Quang Binh</option>
                                          <option value="4">Quang Tri</option>
                                      </select>
                                      
                                      <input type="text" placeholder="Address">
                                      <input type="text" placeholder="Banking Account">
                                      <input type="password" placeholder="OTP Code">
                                      {{!-- <a class="gray_btn" href="/cart">Update Details</a> --}}
                                  </div>
                              </td>
                          </tr>
                          <tr class="out_button_area">
                              <td class="d-none-l">

                              </td>
                              <td class="">

                              </td>
                              <td>

                              </td>
                              <td>
                                  <div class="checkout_btn_inner d-flex align-items-center">
                                      <a class="gray_btn" href="/products">Continue Shopping</a>
                                      <a class="primary-btn ml-2" href="/confirmation" onclick="clearCart2()">Buy</a>
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                  {{else}}
                  <div class="alert alert-info text-center"> Your cart is empty!</div>
                  {{/if}}
              </div>
          </div>
      </div>
  </section>
  {{/with}}
  <!--================End Cart Area =================-->
